---
title: Layout title
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} - {{page.title}}</title>
    <link rel="stylesheet" href="normalize-css/normalize.css">
    <script src="document-register-element/build/document-register-element.js"></script>

    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    {{> body}}
</body>
</html>
